body{
    background-color: #f3f2f2;
    color: #211f1f;
    font-style: normal;
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

.fn
{
    color: #338cf1;
    text-decoration: #338cf1 underline;
}

a {
    color: inherit;
}


pre {
    background-color: bisque;
    color: #232121;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

pre::-webkit-scrollbar {
    width: 5px;
}

pre::-webkit-scrollbar-thumb {
    background: #2196F3;
    border-radius: 10px;
}

pre::-webkit-scrollbar-track {
    background: #f1f1f1;
}


.tip {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    margin: 20px 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tip h4 {
    margin-top: 0;
    color: #2196F3;
}

.tip pre {

    border: 1px solid #ddd;

    padding: 15px;
    overflow-x: auto;
    text-align: left; /* Aligns text to the left */
}

.tip p {
    margin: 10px 0;
    font-weight: bold;
}
