body{
    background-color: #f3f2f2;
    color: #211f1f;
    font-style: normal;
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

.fn
{
    color: #338cf1;
    text-decoration: #338cf1 underline;
}

a {
    color: inherit;
}

pre{
    border: 1px solid #111;
    background-color: bisque;
    width: fit-content;
    padding-top: 2em;
    padding-right: 5em;
}